.contact-container{
    margin-top:50px;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
    background-color: rgb(29, 29, 29);
    height: 320px;
    margin-bottom: 30px;
}
.contact-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    margin-top: 30px;
}
.contact-info{
    text-align: left;
    width: 500px;
}
.contact-number{
    font-size: 1.3rem;
}
.disclaimer{
    text-align: left;
    color: white;
    width: 500px;
    margin-top: 50px;
}
.disclaimer-title{
    text-align: center;
}
@media (max-width: 1025px){
    .contact-info{
        max-width: 400px;
        font-size: .8rem;
    }
    .contact-text{
        max-width: 350px;
        font-size: 1rem;
    }
    .contact-title{
        font-size:1.6rem;
    }
    .disclaimer{
        margin-bottom: 90px;
        max-width: 400px;
        font-size: .8rem;
    }
    .disclaimer-title{
        font-size: 1.6rem;
    }
}
@media (max-width: 650px){
    .contact-container{
        margin-top:30px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        background-color: rgb(29, 29, 29);
        height: 530px;
        margin-bottom: 20px;
    }
    .contact-info{
        margin-right: 0px 0px 0px 0px;
        max-width: 90%;
        margin: auto;
        font-size: .9rem;
    }
    .contact-text{
        border-top: 0px;
        width: 100%;
        margin-top: 0px;
        max-width: none;
        font-size: 1rem;
    }
    .contact-title{
        margin-top: 10px;
        font-size:1.6rem;
    }
    .contact-info{
        width: 100%;
    }
    .disclaimer{
        margin-top: 0px;
        margin-bottom: 90px;
        max-width: 90%;
        font-size: .9rem;
        margin-bottom: 20px;
    }
    .disclaimer-title{
        font-size: 1.6rem;
    }
}