.info-box{
    background: rgb(240, 240, 240);
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Lato', sans-serif;
}
.skew-div{
    width: 100%;
    height:250px;
    background-color: rgb(240, 240, 240);
    transform: skew(0deg,-2.4deg);
    margin-top: -40px;
    z-index: 0;
}
.info1{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.title-div{
    display: flex;
    flex-direction: column;
}
.title{
    margin-top: -100px;
    font-size: 2.5rem;
    z-index: 1;
    margin-bottom: 20px;
}
.title-text{
    margin-top: 10px;
    z-index: 1;
    width: 350px;
    text-align: left;
    font-family: 'Sintony', sans-serif;
}
.photo-div{
    display: flex;
    /* width:700px; */
    flex-direction: row;
    justify-content: space-between;
}
.photo{
    margin-top: 15px;
    margin-right: 30px;
    border-radius: 100%;
    border: 7px solid rgba(91, 157, 173);
    width: 210px;
    height: 210px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -30px;
    background-position-x: -px;
    background-image: url("../img/Jeremiah.png");
    z-index: 1;
}
.mission{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 100%;
    height: 400px;
    padding: 10px;
    background-color: rgb(167, 167, 167);
    margin-top: 100px;
    margin-bottom: 50px;
    font-weight: 700;
    color: rgb(241, 241, 241);
}
.mission-title{
    margin-top:30px;
}
.mission-text{
    width:85%;
    max-width: 1000px;
    font-size: 1.2rem;
    margin:auto;
    color: rgb(43, 43, 43);
    letter-spacing: .017cm;
    text-align: left;
}
.mission-text2{
    border-top: 1px solid rgb(37, 37, 37);
    border-bottom: 1px solid rgb(37, 37, 37);
    font-size: 1rem;
    text-align: left;
    max-width: 1100px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 15px;
    font-family: 'Sintony', sans-serif;
    font-weight: 700;
}
.info-title{
    border-bottom: 2px solid gray;
}
.dui-info{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-bottom: 20px;
    max-width: 1100px;
}
.dui-text{
    text-align: left;
    max-width: 500px;
}
.list{
    width: 92%;
    font-size: .93rem;
    margin: auto;
}
@media (max-width: 1345px){
.info-title{
    font-size:1.5rem;
    font-weight: 700;
}
.dui-text{
    max-width: 350px;
  }
}
.mission-text2{
    width: 95%;
}

@media (max-width: 1025px){
    .mission-text2{
        font-size: 1.rem;
        width: 95%;
    }
    .dui-info{
        display: flex;
        justify-content: space-between;
        width: 85%;
        margin-bottom: 20px;
    }
}
@media (max-width: 650px){
    .skew-div{
        transform: skew(0deg,-2deg);
        margin-top: -10px;
    }
    .title-div{
        width: 90%;
    }
    .title{
        margin-top: -100px;
        font-size: 1.5rem;
    }
    .title-text{
        margin-top: 10px;
        z-index: 1;
        font-size: .8rem;
    }
    .photo-div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .photo{
        margin-top: 10px;
        margin-right: 0px;
        margin-left: 10px;
        width: 220px;
        height: 220px;
    }   
    .mission{
        height: 300px;
        margin-bottom: 30px;
    }
    .mission-text{
        width: 90%;
        font-size: .8rem;
        margin:auto;
        margin-bottom: 20px;
        color: rgb(43, 43, 43);
        letter-spacing: .017cm;
        text-align: left;
    }
    .mission-title{
        margin-top:10px;
        margin-bottom: 0px;
    }
    .dui-info{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 95%;
        padding: 5px;
        margin-bottom: 20px;
    }
    .dui-text{
        margin-bottom: 20px;
        text-align: left;
        max-width: 500px;
        font-size: .9rem;
    }
    .info-title{
        width: 100%;
        text-align: center;
        margin-bottom: 5px;
        padding: 10px;
        font-size: 1.5rem;
        font-weight: 700;
    }
    .mission-text2{
        font-size: .8rem;
        margin-top: 0px;
        background-color: gray;
        width: 100%;
        padding: 20px;
        margin-bottom: 0px;
        border-top: 0px;
        border-bottom: 0px;
        color: white;
    }
    .list{
        width: 90%;
        font-size: .8rem;
        margin: auto;
    }
}