.hey{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(49, 49, 49, 0.411);
}
.hey2{
    margin: auto;
    width: 95%;
    height: 100%;
    max-width: 1150px;
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 0px;
    margin-bottom: 0px;
}

.drive {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100vh;
}
.info-container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-around;
}
.info{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0px;
    padding: 0px;
    z-index: 0;
    height: 400px;
    width: 70%;
    max-width: 1000px;
    color: rgb(221, 221, 221);
    margin-top: 20px;
    /* background-color: rgba(255, 255, 255, 0.068); */
}
.title-tag{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    /* margin-top: 55px;   */
    margin-left: 20px;
    justify-content: center;
}
.tag1{
    text-align: left;
    margin-bottom: -15px;
    margin-top: -25px;
    padding: 0px;
    font-size: 5.7rem;
    font-weight: 400;
    font-family: 'Sintony', sans-serif;
    animation-name: fadeInLeft;
    animation-duration: 2s;
}
.tag1b{
    color: wheat;
    text-align: left;
    margin-bottom: -15px;
    margin-top: -25px;
    padding: 0px;
    font-size: 5.7rem;
    font-weight: 700;
    font-family: 'Sintony', sans-serif;
    animation-name: fadeInLeft;
    animation-duration: 2s;
}

.tag2{
    width: 90%;
    margin-left: 10px;
    margin-bottom: 0px;
    font-size: 3.1rem;
    font-family: 'Sintony', sans-serif;
    text-align: left;
    font-weight: 400;
    color: rgb(61, 61, 61);
    animation-name: fadeInDown;
    animation-delay: 0s;
    animation-duration: 2s;
}
.tag3{
    color: rgb(224, 224, 224);
    margin-top: -10px;
    font-size: 1.7rem;
    font-weight: 400;
    font-family: 'Sintony', sans-serif;
    border-top: 3px solid wheat;
    /* border-bottom: 3px solid wheat; */
    animation-name: fadeInDown;
    animation-delay: 0s;
    animation-duration: 2s;
}
.info-cards{
    opacity: 0;
    animation-name:fadeIn;
    animation-duration: 2s; 
    animation-delay: 1.8s; 
    animation-fill-mode: forwards;
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    justify-content: space-around;
    margin-right: 30px;
}
.info-card{
    width: 210px;
    height: 210px;
    box-shadow: 1px 1px 10px 3px rgba(20, 20, 20, 0.808);
    margin-top: 0px;
    border-radius: 100%;
}
.card-title{
    border: 8px solid rgba(228, 228, 228, 0.8);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 210px;
    background-color: rgba(226, 177, 104, 0.8);
    text-align: center;
    color: rgb(39, 39, 39);
    padding: 5px;
    font-size: 1.5rem;
    z-index: 3;
}
.card-title:hover{
    transition: all 1s ease;
    border: 8px solid rgba(226, 177, 104, 0.8);
    background-color: rgba(241, 241, 241, 0.8);
    text-decoration: none;
    color: rgb(39, 39, 39);
    cursor: pointer;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
  }
@keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translate3d(-50%, 0, 0);
    }
  
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInLeft {
    animation-name: fadeInLeft;
  }
  
  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  @media (max-width: 1345px){
    .info-container{
        margin: auto;
        margin-top: 100px;
        height: 400px;
        width: 700px;
        display:flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .title-tag{
        display:flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 0px;
        /* margin-left: 20px; */
        justify-content: center;
        margin: auto;
    }
    .tag1{
        text-align: left;
        margin-bottom: -15px;
        margin-top: -25px;
        padding: 0px;
        font-size: 4.5rem;
        font-family: 'Sintony', sans-serif;
    }
    .tag1b{
        text-align: center;
        margin-bottom: -15px;
        margin-top: -25px;
        padding: 0px;
        font-size: 4.5rem;
        font-family: 'Sintony', sans-serif;
    }
    .tag2{
        margin-left: 230px;
        margin-top: 60px;
        font-size: 2.9rem;
        font-weight: 400;
        font-family: 'Sintony', sans-serif;
        color: rgb(65, 65, 65);
    }
    .tag3{
        margin-top: -10px;
        font-size: 1.55rem;
        font-family: 'Sintony', sans-serif;
    }
    .info-cards{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 80px;
    }
  }
  @media (max-width: 650px){
    .info-container{
        margin: auto;
        margin-top: 120px;
        width: 90%;
        height: 250px;
        border-bottom: 20px;
        display:flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0px;
        z-index: 0;
        width: 100%;
        color: rgb(221, 221, 221);
        margin-top: 0px;
    }
    .title-tag{
        display:flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        justify-content: center;
        margin-top: 50px;
        margin: auto;
    }
    .tag1{
        margin: 0px 0px -10px 0px;
        text-align: left;
        align-self: center;
        padding: 0px;
        font-size: 1.8rem;
        font-family: 'Sintony', sans-serif;
    }
    .tag1b{
        text-align: center;
        padding: 0px;
        font-size: 1.8rem;
        font-family: 'Sintony', sans-serif;
    }
    .tag2{
        margin-top: 60px;
        font-size: 2rem;
        text-align: center;
        margin-bottom: 5px;
        margin-left: 0px;
        font-weight: 400;
        font-family: 'Sintony', sans-serif;
        color: rgb(223, 221, 221);
    }
    .tag3{
        font-size: 1.2rem;
        color: rgb(73, 73, 73);
        border-top: 1px solid wheat;
        font-weight: 700;
        font-family: 'Sintony', sans-serif;
    }
    .info-cards{
        opacity: 0;
        animation-name:fadeIn;
        animation-duration: 2s; 
        animation-delay: 1.8s; 
        animation-fill-mode: forwards;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left:-20px;
        margin-bottom: 130px;
        width: 100%;
    }
    .info-card{
        width: 110px;
        height: 110px;
        box-shadow: 1px 1px 10px 3px rgba(20, 20, 20, 0.808);
        margin-top: 0px;
        border-radius: 100%;
    }
    .card-title{
        border: 8px solid rgba(228, 228, 228, 0.8);
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 110px;
        height: 110px;
        background-color: rgba(226, 177, 104, 0.8);
        text-align: center;
        color: rgb(39, 39, 39);
        padding: 5px;
        font-size: .7rem;
        z-index: 3;
    }
}