.hey{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(49, 49, 49, 0.411);
}
.hey2{
    margin: auto;
    width: 95%;
    height: 100%;
    max-width: 1150px;
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 0px;
    margin-bottom: 0px;
}

.drive {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100vh;
}
.info-container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-around;
}
.info{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0px;
    padding: 0px;
    z-index: 0;
    height: 400px;
    width: 70%;
    max-width: 1000px;
    color: rgb(238, 238, 238);
    margin-top: 20px;
    /* background-color: rgba(255, 255, 255, 0.068); */
}
.title-tag{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    /* margin-bottom: 105px; */
    margin-left: 20px;
    /* margin-top: 15px; */
    justify-content: center;
}
.tag1{
    text-align: left;
    margin-bottom: -15px;
    margin-top: -25px;
    padding: 0px;
    font-size: 5.7rem;
    font-weight: 700;
    font-family: 'Sintony', sans-serif;
    animation-name: fadeInLeft;
    animation-duration: 2s;
}
.tag1b{
    text-align: left;
    margin-bottom: -15px;
    margin-top: -25px;
    padding: 0px;
    font-size: 5.7rem;
    font-weight: 700;
    font-family: 'Sintony', sans-serif;
    animation-name: fadeInLeft;
    animation-duration: 2s;
}

.tag2{
    width: 90%;
    margin-left: 10px;
    margin-bottom: 0px;
    font-size: 3.5rem;
    font-family: 'Lato', sans-serif;
    text-align: left;
    font-weight: 700;
    color: rgb(61, 61, 61);
    animation-name: fadeInDown;
    animation-delay: 0s;
    animation-duration: 2s;
}
.tag3{
    color: rgb(230, 161, 59);
    margin-top: -10px;
    font-size: 1.7rem;
    font-weight: 700;
    font-family: 'Sintony', sans-serif;
    border-top: 3px solid rgb(247, 247, 247);
    border-bottom: 3px solid rgb(247, 247, 247);
    animation-name: fadeInDown;
    animation-delay: 0s;
    animation-duration: 2s;
}
.info-cards{
    opacity: 0;
    animation-name:fadeIn;
    animation-duration: 2s; 
    animation-delay: 1.8s; 
    animation-fill-mode: forwards;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-around;
    margin-bottom: 50px;
}
.info-card{
    width: 210px;
    height: 210px;
    box-shadow: 1px 1px 10px 3px rgba(20, 20, 20, 0.808);
    margin-top: 0px;
    border-radius: 100%;
}
.card-title{
    border: 10px solid rgba(228, 228, 228, 0.986);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 210px;
    background-color: rgba(231, 161, 55, 0.856);
    text-align: center;
    color: rgb(39, 39, 39);
    padding: 5px;
    font-size: 1.5rem;
    z-index: 3;
}
.card-title:hover{
    transition: all 1.1s ease;
    border: 10px solid rgba(231, 161, 55, 0.856);
    background-color: rgba(218, 218, 218, 0.925);
    text-decoration: none;
    color: rgb(39, 39, 39);
    cursor: pointer;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
  }
@keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translate3d(-50%, 0, 0);
    }
  
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInLeft {
    animation-name: fadeInLeft;
  }
  
  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  @media (max-width: 1345px){
    .info-container{
        margin: auto;
        margin-top: 100px;
        height: 400px;
        width: 700px;
        display:flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .title-tag{
        display:flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 0px;
        /* margin-left: 20px; */
        justify-content: center;
        margin: auto;
    }
    .tag1{
        text-align: left;
        margin-bottom: -15px;
        margin-top: -25px;
        padding: 0px;
        font-size: 4.5rem;
        font-weight: 700;
        font-family: 'Sintony', sans-serif;
    }
    .tag1b{
        text-align: center;
        margin-bottom: -15px;
        margin-top: -25px;
        padding: 0px;
        font-size: 4.5rem;
        font-weight: 700;
        font-family: 'Sintony', sans-serif;
    }
    .tag2{
        margin-left: 230px;
        margin-top: 60px;
        font-size: 3.1rem;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        color: rgb(65, 66, 66);
    }
    .tag3{
        color: rgb(68, 68, 68);
        margin-top: -10px;
        font-size: 1.55rem;
        font-weight: 700;
        font-family: 'Sintony', sans-serif;
        border-top: 3px solid rgb(223, 221, 221);
        border-bottom: 3px solid rgb(223, 223, 220);
    }
    .info-cards{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 80px;
    }
  }
  @media (max-width: 1025px){
    .info-container{
        margin: auto;
        margin-top: 100px;
        height: 400px;
        width: 700px;
        display:flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .title-tag{
        display:flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 0px;
        /* margin-left: 20px; */
        justify-content: center;
        margin: auto;
    }
    .tag1{
        margin-bottom: -15px;
        margin-top: -25px;
        padding: 0px;
        font-size: 4.5rem;
        font-weight: 700;
        font-family: 'Sintony', sans-serif;
    }
    .tag2{
        margin-left: 230px;
        margin-top: 60px;
        font-size: 3.1rem;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        color: rgb(59, 59, 59);
    }
    .tag3{
        color: rgb(58, 58, 58);
        margin-top: -10px;
        font-size: 1.55rem;
        font-weight: 700;
        font-family: 'Sintony', sans-serif;
        border-top: 3px solid rgb(226, 226, 226);
        border-bottom: 3px solid rgb(221, 221, 220);
        animation-name: fadeInDown;
        animation-delay: 0s;
        animation-duration: 2s;
    }
  }
  /* @media (max-width: 845px){
    .info-cards{
        display: flex;
        flex-direction: row;
        align-content: space-between;
        justify-content: space-around;
        margin-bottom: 50px;
    }
    .info-card{
        border: 10px solid rgb(216, 216, 216);
        width: 210px;
        height: 210px;
        box-shadow: 1px 1px 10px 3px rgba(20, 20, 20, 0.808);
        margin-top: 0px;
        border-radius: 100%;
    }
    .card-title{
      border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 200px;
        background-color: rgb(66, 189, 211);
        margin-top: -5px;
        margin-left: -5px;
        text-align: center;
        color: rgb(48, 48, 48);
        padding: 5px;
        font-size: 1.5rem;
    }
    .card-title:hover{
        background-color: rgb(72, 209, 233);
        cursor: pointer;
    }
    .card-text{
     display:none;
    }
  } */
