.navdiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: rgba(169, 169, 197, 0);
    z-index: 3;
}
.navbar1{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.1rem;
    z-index: 3;
    height: 60px;
    width: 100%;
    font-family: 'Lato', sans-serif;
}
.nav-link{
    color: rgb(255, 255, 255);
    margin-right: 5px;
}
.nav-link:hover{
    color: rgb(71, 71, 71);
}
.nav-link:active{
    color: rgb(156, 156, 156);
    text-decoration: underline;
}
.title1{
    color:rgb(245, 209, 142);
    font-size: 25px;
    font-weight: 400;
    margin-left: 20px;
}
.title1:hover{
    text-decoration: none;
    color: rgb(245, 209, 142);
}

@media (max-width: 1345px){
  .title1{
    width: 190px;
  }  
}